<section class="wrapper">
  <div class="row">
    <h1 class="heading1 page-title"><%= t(".title") %></h1>
  </div>

  <% if organization_scopes.any? %>
    <section id ="organization-scopes" class="row section">
      <%= map_for_scopes %>

      <%= stylesheet_link_tag "decidim/map" %>
      <%= javascript_include_tag "decidim/sabarca/scopes-geojson" %>
      <%= javascript_include_tag "decidim/sabarca/pages" %>
    </section>
  <% end %>

  <% if participatory_processes_organization.any? %>
    <section id ="participatory_processes" class="row section">
      <div class="section">
        <h2 class="heading2 section-heading"><%= t(".title_processes") %></h2>
      </div>
      <div class="row section">
        <%= render partial: "participatory_process", collection: participatory_processes_organization, as: :participatory_process %>
      </div>
    </section>
  <% end %>

</section>
