<% add_decidim_meta_tags({
  title: t(".title"),
  description: t(".subtitle"),
  url: decidim_sabarca.city_close_up_url()
}) %>

<section class="extended wrapper-home background-white">
  <div class="row small-up-1 medium-up-3 large-up-3 card-grid">
    <div class="column margin-bottom-0">
      <div class="card card-link">
        <%= link_to decidim_sabarca.city_close_up_processes_path, class: "" do %>
          <div class="card__content">
            <%= icon_sabarca "process", class: "sabarca--block__icon" %>
            <h3 class="heading3 font-titillum-bold"><%= t(".processes") %></h3>
            <div class="card_block">
              <p><%= t(".processes_text") %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="column margin-bottom-0">
      <div class="card card-link">
        <%= link_to decidim_sabarca.city_close_up_user_groups_path, class: "" do %>
          <div class="card__content">
            <%= icon_sabarca "user-group", class: "sabarca--block__icon" %>
            <h3 class="heading3 font-titillum-bold"><%= t(".user_groups") %></h3>
            <div class="card_block">
              <p><%= t(".user_groups_text") %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="column margin-bottom-0">
      <div class="card card-link">
        <%= link_to decidim_sabarca.city_close_up_mayor_neighborhoods_path, class: "" do %>
          <div class="card__content">
            <%= icon_sabarca "mayor-neighborhoods", class: "sabarca--block__icon" %>
            <h3 class="heading3 font-titillum-bold" ><%= t(".mayor_neighborhoods") %></h3>
            <div class="card_block">
              <p><%= t(".mayor_neighborhoods_text") %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
