<% add_decidim_meta_tags({
  title: t(".title_transparency"),
  description: t(".subtitle_transparency"),
  url: decidim_sabarca.transparency_url()
}) %>

<section class="wrapper">
  <div class="row">
    <div class="small-10 small-centered columns">
      <p class="text-center font-18"><%= t(".text") %><br/><%= t(".text_2") %></p>
    </div>
  </div>

  <div class="row small-up-1 medium-up-2">
    <% @transparency_items.each do |transparency_item| %>
      <div class="column">
        <div class="card card--list">
          <div class="card--list__item">
            <div class="card--list__text">
              <div>
                <%= link_to translated_attribute(transparency_item.url), class: "card__link", target: "_blank" do %>
                  <h6 class="card--list__heading">
                    <%= translated_attribute(transparency_item.text).html_safe %>
                  </h6>
                <% end %>
              </div>
            </div>
            <div class="card--list__data">
              <%= link_to translated_attribute(transparency_item.url), class: "card--list__data__icon" do %>
                <%= icon "chevron-right" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
