<%= render "decidim/sabarca/shared/section_header_sabarca", title: t(".title_transparency"),
  subtitle: t(".subtitle_transparency"), center_text: false, icon_name: "loupe" %>

<section class="wrapper">
  <div class="row">
    <div class="small-10 small-centered columns">
      <p class="text-center font-18"><%= t(".text") %><br/><%= t(".text_2") %></p>
      <p class="text-center font-18"></p>
    </div>
  </div>
</section>

<section class="wrapper">
  <div class="row">
    <% @transparency_items.each do |transparency_item| %>
      <%= link_to translated_attribute(transparency_item.url), target: "_blank" do %>
        <div class="small-4 large-3 columns">
          <%= translated_attribute(transparency_item.text).html_safe %>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
