<% add_decidim_meta_tags({
  title: translated_attribute(mayor_neighborhood.title),
  description: translated_attribute(mayor_neighborhood.description),
  url: decidim_sabarca.city_close_up_mayor_neighborhood_url(@scope, mayor_neighborhood.id)
}) %>

<div class="wrapper">
  <div class="row">
    <%= link_to decidim_sabarca.city_close_up_path(params[:city_close_up_id]), class: "button-back" do %>
      <%= icon_sabarca "arrow-back", class: "sabarca--block__icon" %>
      <p>Torna al barri</p>
    <% end %>
  </div>
  <div class="row">
    <div class="columns section view-side mediumlarge-4 mediumlarge-push-8 large-3 large-push-9">
      <div class="card extra">
        <div class="card__content">
          <div class="extra__date">
            <%= l mayor_neighborhood.start_time, format: "%d" %> <span class="extra__month"><%= l mayor_neighborhood.start_time, format: "%B" %></span>
          </div>
          <div class="extra__time">
            <%= mayor_neighborhood.start_time.strftime("%H:%M") %> - <%= mayor_neighborhood.end_time.strftime("%H:%M") %>
          </div>
        </div>
      </div>
      <%= render partial: "decidim/shared/share_modal" %>
    </div>
    <div class="columns mediumlarge-8 mediumlarge-pull-4">
      <div class="section">
        <h3 class="section-heading"><%= t(".description") %></h3>
        <%= sanitize translated_attribute mayor_neighborhood.description %>
      </div>
      <div class="section">
        <%= render partial: "decidim/shared/static_map", locals: { icon_name: "meetings", geolocalizable: mayor_neighborhood } %>
      </div>
      <div class="section">
        <h3 class="section-heading"><%= t(".councilors") %></h3>
        <%= sanitize translated_attribute mayor_neighborhood.councilors %>
      </div>
      <div class="section">
        <h3 class="section-heading"><%= t(".topics") %></h3>
        <%= sanitize translated_attribute mayor_neighborhood.topics %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "decidim/proposals/social_share" %>
<%= stylesheet_link_tag "decidim/proposals/social_share" %>
