<section class="extended subhero footer__subhero">
  <div class="row">
    <div class="columns large-4">
      <h3><%= t(".proposals") %></h3>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua."</p>
      <%= link_to decidim_participatory_processes.participatory_processes_path, class: "button--sc link subhero-cta" do %>
        <%= t(".read_more") %>
      <% end %>
    </div>
      <div class="columns large-4">
        <h3><%= t(".city_close_up") %></h3>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua."</p>
        <%= link_to decidim_sabarca.city_close_up_path, class: "button--sc link subhero-cta" do %>
          <%= t(".read_more") %>
        <% end %>
    </div>
    <div class="columns large-4">
      <h3><%= t(".transparency") %></h3>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua."</p>
      <%= link_to decidim_sabarca.transparency_path, class: "button--sc link subhero-cta" do %>
        <%= t(".read_more") %>
      <% end %>
    </div>
  </div>
</section>
