<% class_div_column = (@scope.decidim_sabarca_mayor_neighborhoods.upcoming.any? and @scope.decidim_sabarca_mayor_neighborhoods.past.any?) ?  "large-12" : "large-6" %>
<div class="column <%=class_div_column%>">
  <article class="card card--meeting">
    <div class="card__content">
      <%= link_to decidim_sabarca.city_close_up_mayor_neighborhood_path(@scope, mayor_neighborhood.slug), class: "card__link" do %>
        <h5 class="card__title"><%= translated_attribute mayor_neighborhood.title %></h5>
      <% end %>
      <%= render partial: "datetime", locals: { mayor_neighborhood: mayor_neighborhood } %>
      <%= sanitize mayor_neighborhood_description(mayor_neighborhood) %>
      <div class="address card__extra">
        <div class="address__icon">
          <%= icon "meetings", remove_icon_class: true, width: 40, height: 70 %>
        </div>
        <%= render partial: "decidim/shared/address_details", locals: { icon_name: "meetings", geolocalizable: mayor_neighborhood } %>
      </div>
    </div>
  </article>
</div>
