<% add_decidim_page_title(translated_attribute(current_scope.name)) %>
<% content_for :section_header do %>
  <%= translated_attribute(current_scope.name)%>
<% end %>

<main class="wrapper background-white">
  <section class="row section collapse">
    <div class="map_entities">
      <%= dynamic_map_for user_groups_data_for_map(user_groups.select(&:geocoded?)) + mayor_neighborhoods_data_for_map(current_scope.decidim_sabarca_mayor_neighborhoods.select(&:geocoded?)) do %>
        <template id="marker-popup">
          <div class="map-info__content">
            <h3>${name}</h3>
            <div id="bodyContent">
              <!-- <p>{{html body}}</p> -->
              <div class="phone">${phone}</div>
              <div class="phone">${email}</div>
              <div class="map__date-adress">
                <div class="address card__extra">
                  <div class="address__icon">{{html icon}}</div>
                  <div class="address__details">
                    <span>${address}</span><br />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
        <%= stylesheet_link_tag "decidim/map" %>
        <%= javascript_include_tag "decidim/sabarca/scopes/id-#{current_scope.id}-geojson" %>
        <%= javascript_include_tag "decidim/sabarca/scope_map" %>
      <% end %>
    </div>
  </section>

  <% if mayor_neighborhoods.any? %>
    <section id="mayor-neighborhood-grid" class="row section collapse">
      <div class="mayor-neighborhood-grid-order-by">
        <%= render partial: "order_by_mayor_neighborhoods", locals: { include_filter: true } %>
      </div>
      <p class="loading"><%= t('.loading') %></p>
      <div class="row small-up-1 medium-up-2 large-up-3 card-grid">
        <%= render partial: 'decidim/sabarca/scopes/mayor_neighborhood', collection: mayor_neighborhoods, as: :mayor_neighborhood %>
      </div>
    </section>
  <% end %>

  <% if participatory_processes_organization.any? %>
    <section id="processes-grid" class="row section collapse">
      <div class="processes-grid-order-by">
        <%= render partial: "decidim/participatory_processes/order_by_processes", locals: { include_filter: true } %>
      </div>
      <p class="loading"><%= t('.loading') %></p>
      <div class="row small-up-1 medium-up-2 large-up-4 card-grid">
        <%= render partial: "participatory_process", collection: collection %>
      </div>
    </section>
  <% end %>

  <% if user_groups.any? %>
    <section id="user_groups" class="row section collapse">
      <div class="section">
        <h3 class="heading3 section-heading"><%= t(".title_user_groups") %></h3>
      </div>
      <div class="row card-grid">
        <%= render partial: 'user_group', collection: user_groups, as: :user_group %>
      </div>
    </section>
  <% end %>

</main>

<%= render 'all_scopes' %>
<%= javascript_include_tag "decidim/participatory_processes/filters" %>
<%= javascript_include_tag "decidim/sabarca/filters_mayor_neighborhood" %>
