<% add_decidim_page_title(translated_attribute(current_scope.name)) %>
<% content_for :section_header do %>
  <%= translated_attribute(current_scope.name)%>
<% end %>

<main class="wrapper background-white">
  <section class="row section collapse">
    <div class="map_entities">
      <%= map_for_scopes %>

      <%= stylesheet_link_tag "decidim/map" %>
      <%= javascript_include_tag "decidim/sabarca/scopes/id-#{current_scope.id}-geojson" %>
      <%= javascript_include_tag "decidim/sabarca/scope_map" %>
    </div>
  </section>

  <% if participatory_processes_organization.any? %>
    <section id="processes-grid" class="row section collapse">
      <div class="processes-grid-order-by">
        <%= render partial: "decidim/participatory_processes/order_by_processes", locals: { include_filter: true } %>
      </div>
      <p class="loading"><%= t('.loading') %></p>
      <div class="row small-up-1 medium-up-2 large-up-3 card-grid">
        <%= render partial: "decidim/sabarca/shared/participatory_process", collection: collection %>
      </div>
    </section>
  <% end %>

</main>

<%= render 'decidim/sabarca/shared/other_scopes', link: "processes" %>
<%= javascript_include_tag "decidim/participatory_processes/filters" %>
